/* --- STYLES FOR ALL PAGES --- */
body {
  /* Typography */
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

  /* Visual */
  background: rgb(204,216,245);
  background: linear-gradient(146deg, rgba(204,216,245,1) 17%, rgba(210,246,236,1) 86%);
}

html {
  /* Positioning */
  position: relative;

  /* Box-model */
  min-height: 100%;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

/* Link Styles */
a {
  color: #6b89aa;
}
a:hover {
  color: rgb(161, 197, 245);
}

/* add space for fixed nav */
main {
  margin: 80px 0;
}

/* create styles for use for all white main boxes */
.block {
  background: rgb(255,255,255);
  background: linear-gradient(146deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 65%);  
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 30px;
  width: 100%

}

.block-header {
  /* Typography */
  color: #6b89aa;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 30px;
}

/* NAV START */
#logo {
  font-family: 'M PLUS Rounded 1c', sans-serif;

  /* Typography */
  font-size: 24px;
  font-weight: bold;
  color: #656076;

  /* Visual */
}

/* override bootstrap hover color and border */
.navbar-default .navbar-nav > li > a:hover {
  color: #4aaaa5;
}

.navbar{
  background: rgba(204,216,245,0.8);
  border: none;
}
/* Navbar Collapsed Visual */
.navbar-toggler{
  border: 0px;
}

.nav-link {
  text-align: right;
}
/* END NAV */


/* CONTACT CSS */
.contact-header {
  /* Typography */
  font-size: 25px;
}

.contact-photo {
  /* Box-model */
  width: 55px;
  height: 55px;
}

#images {
  /* Box-model */
  padding-top: 15px;

  /* Typography */
  text-align: center;
}
/* END CONNECT W/ ME */


/* BEGIN FOOTER */
.footer {
  /* Positioning */
  position: absolute;
  bottom: 0;
  z-index: 1;

  /* Box-model */
  width: 100%;
  height: 40px;

  /* Visual */
  /* background: #c0c0c0; */
}

.text-muted-footer {
  /* Box-model */
  margin-top: 10px;

  /* Typography */
  color: #fff;
  font-size: 10px;
}

.two-toned-footer-color {
  /* Box-model */
  height: 6px;
  padding-top: 3px;

  /* Visual */
  background-color: #97c5c3;
}
/* END FOOTER */
/* --- END STYLES FOR ALL PAGES --- */

/* --- PAGE-SPECIFIC STYLES --- */
/* ABOUT-ME PAGE */
.about-me-header {
  /* Positioning */
  margin-bottom: 33px;

  /* Typography */
  color: #6b89aa;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 30px;

} 

#about-image {
  /* Positioning */
  float: left;

  /* Box-model */
  width: 150px;
  margin: 0 20px 10px 0;
}
/* END ABOUT-ME PAGE */


/* PORTFOLIO PAGE */
.port-image {
  margin: 20px auto;
}

#portF-image {
  /* Positioning */
  margin-left: 15px;

  /* Box-model */
  width: 150px;
  margin: 0 20px 10px 0;
}

.port-header {
  /* Positioning */
  margin-bottom: 33px;

  /* Typography */
  color: #6b89aa;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 30px;

} 
/* END PORTFOLIO PAGE */


/* CONTACT FORM PAGE  */
.form-control {
  /* give input boxes right angles */
  border-radius: 5px 20px;

  /* keep from horizontally resizing text area */
  min-width: 100%;
  max-width: 100%;

  /* Visual */
  background: rgb(255, 255, 255, .3);
}

.submit-btn {
  /* Box-model */
  padding: 10px 15px;
  margin-left: 15px;
  font-size: 14px;
  font-weight: lighter;

  /* Typography */
  color: #fff;

  /* Visual */
  background-color: #6b89aa;
  border: 0;
  border-radius: 5px;
}

.submit-btn:hover {
  background-color: rgb(107, 137, 170, .7);
}

/* END CONTACT FORM PAGE */

/* media query */
@media only screen and (max-width: 800px) {
  .navbar-header {
    background-color: #4aaaa5;
  }
  .block{
    padding: 10px;
  }
  .port-image {
    margin: 5px auto;
  }
}