body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 120%;
  background-color:rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  height: 100vh;
  line-height: 120%;
}

a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #8f8f8f;
  text-decoration: none;
}

.hide {
  display: none;
}

/* Nav Styles */
header {
  border: 2px solid black;
  width: 100%;
  height: 62px;
  position: sticky;
}

.container {
  width: 100%;
  height: 60px;
  padding: 0px;
  margin: 0px;
}

.navItem {
  border-right: 2px solid black;
  height: 60px;
  width: 20%;
  float: left;
  padding-top: 17px;
  padding-right: 7%;
  padding-left: 3%;
}

img {
  height: 40px;
  float: right;
  padding-top: 20px;
  padding-right: 3%;
}

img:hover {
  cursor: pointer;
}

/* Main section styles */
.main {
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  height: 100%;
}

.quiz {
  margin: 8%;
  padding-left: 2%;
  border-left: 2px dotted black;
}

h1 {
  font-size: 120%;
}

p {
  font-size: 110%;
}

button {
  color: black;
  border: 2px solid black;
  font-family: inherit;
  font-size: 100%;
  transition: color 0.3s;
}

.choicesSpace {
  margin-right: 10px;
}

button:hover {
  color: #8f8f8f;
  border: 2px solid #8f8f8f;
  cursor: pointer;
}

button:focus {
  outline:0;
}

#initials {
  color: black;
  border: 2px solid black;
  font-family: inherit;
  font-size: 100%;
  margin-left: 20px;
  margin-right: 25px;
  margin-bottom: 3px;
}

#submit {
  margin-right: 20px;
}

.inline {
  float: left;
}

/* Highscores styles */

.scores {
  padding-left: 2%;
}

li {
  font-size: 100%;
  font-weight: 500;
}